.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
body{
  background-color: antiquewhite;
  border: 1px solid #080808;
}

h1 {
  margin-bottom: 20px;
  
}
h2{
  font-size: x-small;
}
.input-container {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fcfdfc;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}
.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: #0bba5a;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #080808;
}

.table th {
  background-color: #b4182f;
  font-weight: bold;
}